extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                    | SWISSVIEW produziert seit mehr als 15 Jahren Luftaufnahmen über die Schweiz. Diese Helicopteraufnahmen zeigen Gipfel, Gletscher, Flüsse und Seen, Städte und Täler aus einer ungewohnten Perspektive. Seit 2007 begleite ich Marco Fumasoli bei seinem Projekt, und verarbeitet sein geflogenes Material für alle Medien.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swissview-ipad.jpg", alt="iPad mit SWISSVIEW-App")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title iOS Application
                p.project-detail__paragraph
                    | Bei der Entwicklung der Applikation für iOS habe ich die technische Projektleitung und Koordination zwischen Grafik und Entwicklung übernommen. (Planung, Applikationsarchitektur, Grafik, Umsetzung, Testing, Serverwahl und -konfiguration, Datenbanken, Updates)


            .layout__item.lap-and-up-one-third
                h2.project-detail__title Datenaufbereitung
                p.project-detail__paragraph
                    | 1600 Videoclips sind derzeit in der App abrufbar, Bild- und Videomaterial dazu habe ich in Zusammenarbeit mit dem Mediacenter des TCP aufbereitet. Text und Metadatenstruktur für diese Videos wurden von mir erstellt und eingepflegt.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swissview-iphone.jpg", alt="iPhone mit SWISSVIEW-App")
