// SETTINGS
@import "_scss/settings.defaults.overwrites";
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";
@import "_scss/settings.colors";


// TOOLS
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "_scss/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "_scss/tools.aliases";

// GENERIC
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";


// BASE
@import "bower_components/inuit-page/base.page";
@import "_scss/base.page";
$inuit-heading-size-1: 48px;
$inuit-heading-size-2: 28px;
$inuit-heading-size-3: 14px;
@import "bower_components/inuit-headings/base.headings";
@import "_scss/base.type";
$inuit-layout-gutter: 39px;
@import "bower_components/inuit-layout/objects.layout.scss";
@import "_scss/base.link";

// OBJECTS
@import "_scss/objects.wrapper";

// COMPONENTS
@import "_scss/components.page-header";
@import "_scss/components.site-nav";
@import "_scss/components.sub-item";
@import "_scss/components.map";
@import "_scss/components.project-link";
@import "_scss/components.project-detail";
@import "_scss/components.page-footer";

// TRUMPS
@import "bower_components/inuit-widths/trumps.widths";
