extend ../__layout.jade

block content
    .wrapper
        h1 Kontakt
        .layout
            .layout__item.lap-and-up-one-third
                p.sub-item.
                    mi-and.com GmbH<br>
                    Pfingstweidstrasse 60<br>
                    8005 Zürich
                p.sub-item.
                    POSTADRESSE<br>
                    mi-and.com GmbH<br>
                    Postfach 530<br>
                    8040 Zürich
                p.sub-item
                    a(href="mailto:miriam@mi-and.com").
                        miriam@mi-and.com
                p.sub-item
                    a(href="+41 78 884 39 35").
                        +41 78 884 39 35
                p.sub-item
                    | Skype: 
                    a(href="skype:Miri824?chat").
                        Miri824

            .layout__item.lap-and-up-two-thirds
                .map--contact
