extend ../__layout.jade

block content
    .wrapper
        h1 Kontakt
        .layout
            .layout__item(class="1/3")
                p.sub-item.
                    mi-and.com GmbH<br>
                    Pfingstweidsrasse 60<br>
                    8005 Zürich
                p.sub-item
                    a(href="mailto:miriam@pretzlaff.ch").
                        miriam@pretzlaff.ch
                p.sub-item
                    a(href="+41 78 884 39 35").
                        +41 78 884 39 35

            .layout__item(class="2/3")
                .map--contact
