extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                    | SWISSVIEW produziert seit mehr als 15 Jahren Luftaufnahmen über die Schweiz. Diese Helicopteraufnahmen zeigen Gipfel, Gletscher, Flüsse und Seen, Städte und Täler aus einer ungewohnten Perspektive. Seit 2007 begleite ich Marco Fumasoli bei seinem Projekt, und verarbeitet sein geflogenes Material für alle Medien.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swissview-blu-ray.jpg", alt="8 Blu-ray's in Reihe")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Blu-Ray
                p.project-detail__paragraph
                    | 8 Blu-rays gehören mittlerweilen in das SWISSVIEW Produkte Sortiment. Jede Blu-ray zeigt die Helicopteraufnahmen zu einer geflogenen Region. Zur geographischen Orientierung können auf der Blu-ray Untertitel und Karten der Flugroute ausgewählt werden.

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Datenaufbereitung
                p.project-detail__paragraph
                    | Schnitt, Postproduktion, Encodiung und Datenaufbereitung der grafischen Elemente gehören hier zu meinen Aufgaben. Das Blu-ray Authoring erstelle ich in Zusammenarbeit mit Daniel Ludwig von «moviedesign».

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swissview-fcp.jpg", alt="Projektfenster in FinalCut Pro")
