extend ../__layout.jade

block content
    .wrapper
        h1 Über mich
        .layout
            .layout__item.lap-and-up-one-third
                p.
                  Geboren und Aufgewachsen bin ich in der schönen Oberpfalz in Bayern. Seit 2007 lebe und arbeite ich in Zürich. <br><br> Ich liebe Geschichten!<br> Geschichten, die mir Menschen aus ihrem Leben zu erzählen haben aber selbstverstänlich auch die wunderbaren Geschichten die uns der Film erzählt.<br><br> Ich bin ein Team-Player mit Kopf und Herz und spreche und verstehe die Sprache der Entwickler als auch die der Designer. Als Projektleiterin finde ich mich damit immer gut zurecht. Ich bin anpassungsfähig, habe einen schnelle Auffassungsgabe und stecke voller Neugier!<br><br> Ich unterstütze sie mit meinen Fähigkeiten jederzeit gerne, bitte schreiben Sie mir!
                
                
                    
            .layout__item.lap-and-up-two-thirds
                p
                    img(src="./miriam.jpg", title="Portrait of Miriam")
