extend ../__layout.jade

block content
    .wrapper
        h1 Über mich
        .layout
            .layout__item.lap-and-up-hide
                p
                    img(src="./miriam.jpg", title="Portrait of Miriam")

            .layout__item.lap-and-up-one-half
                p.
                  Geboren und Aufgewachsen bin ich in der schönen Oberpfalz in 
                  Bayern. Seit 2007 lebe und arbeite ich in Zürich. 
                p.
                  Ich liebe Geschichten!<br> 
                  Geschichten, die mir Menschen aus ihrem Leben zu erzählen 
                  haben aber selbstverstänlich auch die wunderbaren Geschichten 
                  die uns der Film erzählt. 
                p.
                  Ich bin ein Team-Player mit Kopf und Herz, ich spreche und 
                  verstehe sowohl die Sprache der Entwickler als auch die der 
                  Kunden. Als Projektleiterin finde ich mich damit immer gut
                  zurecht. Ich bin anpassungsfähig, habe einen schnelle
                  Auffassungsgabe und stecke voller Neugier! 
                p
                  | Ich unterstütze sie mit meinen Fähigkeiten jederzeit gerne, 
                  a(href="/kontakt").inline kontaktieren
                  |  Sie mich.
                   
            .layout__item.lap-and-up-one-half.palm-hide
                p
                    img(src="./miriam.jpg", title="Portrait of Miriam")
