extend ../__layout.jade

block content
    .wrapper
        h1 Über mich
        .layout
            .layout__item.lap-and-up-one-third
                p.
                  Ich komme aus der schönen Oberpfalz in Bayern, dort habe ich nach meinem Vordiplom in Softwaresystemtechink auf den Bachelor Studiengang Medienproduktion und -technik gewechselt. 
                  Nach meinem Abschluss bin ich direkt in die Schweiz, das war im August 2007.
                
                p.
                  Ich habe in Zürich bei einer Werbeagentur meine ersten Erfahrungen gesammelt. Die ersten beiden Jahre überwiegend im Bereich der Grafik
                  und später weitgehend im Filmschnitt und der Postproduktion.
                  
                p.
                  Ende 2012 habe ich mich selbständig gemacht und eine GmbH gegründet, für die ich bis heute meine Kunden betreue. 
                p.
                  Ein grosser Teil meiner Arbeit ist mittlerweile die Projektleitung, bei der ich mit meinem technischen und grafischen Wissen oft eine Schnittstelle zwischen 
                  Entwicklern und Designer bilde.<br>
                  
                p.
                  Ich liebe Geschichten! Geschichten die mir Menschen zu erzählen haben und selbstverständlich die vielen tollen Geschichten die uns der Film erzählt. 
                    
            .layout__item.lap-and-up-two-thirds
                p
                    img(src="./miriam.jpg", title="Portrait of Miriam")
