extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einf端hrung

                p.project-detail__paragraph.project-detail__paragraph--first
                  | Der Z端richer Verlag OFFIZIN verlegt seit 1989 B端cher mit den Schwerpunkten Kunst, Fotografie, Kulturgeschichte, Volkskunde und Ethnologie. Ich begleite den Verlag seit 2008 und bin f端r die Aufbereitung des Web Contents verantwortlich. Fotografie, Bildbearbeitung, und Texterfassung unterliegen dabei meiner Verantwortung. 
            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="offizin-web-1.jpg", alt="Offizin Website")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Website
                p.project-detail__paragraph
                    | Phasellus quis metus justo. Sed hendrerit massa nec pellentesque elementum. Curabitur molestie orci velit, at pellentesque sapien iaculis porttitor. Curabitur id urna eu eros vehicula dignissim. Nam a bibendum ligula, quis cursus elit. Nullam quis commodo lectus. In egestas est non est vestibulum scelerisque.

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Bildbearbeitung
                p.project-detail__paragraph
                    | Pellentesque rhoncus dapibus sapien eget fringilla. Curabitur vulputate dictum elit et consequat. Pellentesque consequat suscipit faucibus. Nunc congue libero nec lacus posuere pellentesque. Ut ex tellus, feugiat ac magna ac, pellentesque placerat urna. Sed nulla urna, iaculis eu justo non, mollis iaculis urna.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="offizin-web-2.jpg", alt="Offizin Website")
