extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                  | Der Züricher Verlag OFFIZIN verlegt seit 1989 Bücher. Die programmatischen Schwerpunkte bilden Schweizer Fotografen, die Schweizer Kulturgeschichte, Volkskunde und Ethnologie sowie die Kunst. 
            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="offizin-web-1.jpg", alt="Offizin Website")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Website
                p.project-detail__paragraph
                    | Ich begleite den Verlag seit 2008 und bin für die Aufbereitung des Web Contents verantwortlich. Fotografie, Bildbearbeitung, und Texterfassung unterliegen dabei meiner Verantwortung.

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Bildbearbeitung
                p.project-detail__paragraph
                    | Das in den Büchern vorhandene Bildmaterial stelle ich für die Website, die jährlich zweimal erscheinende Buchvorschau, und ggf. für Medienmitteilungen oder Downloads bereit.
                    
            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="offizin-web-2.jpg", alt="Offizin Website")
