extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Auftrag

                p.project-detail__paragraph.project-detail__paragraph--first
                    | Der neue Webauftritt von apix.ch soll die Bilder des Fotografen mehr in den Vordergrund setzten und seine Kernkompetenzen in den Bereichen Architektur-, Outdoor-, Portrait- und Luftaufnahmen herausstellen. 
                    | Mit der Slideshow können Bilder in maximaler Grösse automatisch oder Bild für Bild durchgeklickt werden, zusätzlich können Titel und Kunde des Bildes angezeigt werden.  
                    | Mit dem responsive Design können alle Inhalte optimal auf dem Desktop wie auch auf allen mobilen Geräten gezeigt werden.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="apix-web-1.jpg", alt="Responsive Design")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Projektleitung
                p.project-detail__paragraph
                  |  Ich habe die operative Planung und Leitung des Projektes übernommen und war für die Erstellung der textlichen und bildlichen Inhalte zuständig.
