extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                  | Swisscross ist eine unabhängige, gemeinnützige Stiftung in der Schweiz. 
                  | Die Kernziele sind der Zugang zu angemessener Gesundheitsversorgung für Menschen,
                  | die in gefährlichen Regionen leben. Swisscross konzentriert sich auf die Opfer 
                  | aus Ländern mit bewaffneten Konflikten.
            .layout__item.lap-and-up-two-thirds
            img.project-detail__image(src="swisscross-web-5.jpg", alt="SWISSCROSS Website")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Projektleitung
                p.project-detail__paragraph
                    | Mit der Neugestaltung der Website wurden auch die Inhalte der Swisscross Foundation neu konzipiert. 
                    | Aufgabe war es die drei Hauptziele der Foundation auszuarbeiten und in den Vordergrund zu stellen.</br>
                    | Gleichzeitig soll transparent über die Aktivitäten der Foundation informiert werden.</br> 
                    | Mit dem responsive Design können alle Inhalte optimal auf dem Desktop, wie auch auf mobilen Geräten gezeigt werden.
      
