extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                  | SWISSCROSS ist eine unabhängige, gemeinnützige Stiftung in der Schweiz. Die Kernziele sind der Zugang zu angemessener Gesundheitsversorgung für Menschen die in gefährlichen Regionen leben. SWISSCORSS konzentriert sich auf die Opfer von bewaffneten Konflikten.
                .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swisscross-web-5.jpg", alt="SWISSCROSS Website")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Website
                p.project-detail__paragraph
                    | Projektleitung Internetauftritt SWISSCROSS.

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Projektleitung
                p.project-detail__paragraph
                    | Bla Bla Bla
                    
            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="swisscross-web-5.jpg", alt="SWISSCROSS Mobile Website")
