extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third.palm-hide
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                    | Alex Buschor ist Inhaber des Fotostudios APiX und seit 2013 bin auch ich ein Teil des Teams. Ich steuere bei Foto- und Filmaufnahmen mit der Drohne als Copilotin die Kamera. In der Postproduktion bin ich für die Verarbeitung des gefilmten Materials zuständig oder helfe bei der Bildbearbeitung von Fotoaufnahmen.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="apix-luftaufnahme-2.jpg", alt="Luftaufnahme einer Immobilie")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Fotografie
                p.project-detail__paragraph
                  | Der Multikopter ist sehr flexibel einsetzbar und eignet sich daher besonders für Aufnahmen aus geringer Höhe. Fabrikareale, Siedlungen, am Hang gelegene Grundstücke oder Aussichten können so beispielsweise vollständig und aus neuen Perspektiven festgehalten werden.
            
            .layout__item.lap-and-up-one-third
                h2.project-detail__title Film
                p.project-detail__paragraph
                  | Professionelle Luftaufnahmen sind für Filmproduktionen, Imagefilme, Werbespots oder Sportveranstaltungen sowie zur Aufnahme und Dokumentation von Immobilien und Bauprojekten eine wertvolle Ergänzung.<br><br>
                  | Egal für welchen Einsatz, wir erstellen mit unserem Multikopter Flugaufnahmen aus verschiedenen Höhen und Perspektiven. 
            
            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="apix-luftaufnahme-1.jpg", alt="Luftaufnahme eines Bikerennens")
                      
            .layout__item
                h2.project-detail__title Multikopter
                p.project-detail__paragraph
                  | Multikopter sind individuell modifizierte und mit einer Kamera ausgestattete Flugroboter, die sich über eine Fernsteuerung fliegen lassen. Die acht Rotoren des Multikopters sorgen für einen ruhigen Flug und ermöglichen sanfte Kamerabewegungen für gestochen scharfe Luftaufnahmen. Der Multikopter von APiX erlaubt den Einsatz von bis zu 5 kg schweren Kameras. Flugstabilität und Sicherheit stehen dabei im Vordergrund. Das Resultat sind hochauflösende Bilder aus spektakulären und nicht alltäglichen Perspektiven. In der gewünschten Qualität, von Full-HD bis hin zu 4K. Die «Drohnen-Fotografie» ist ein umfangreiches Gebiet. Den Möglichkeiten sind kaum Grenzen gesetzt. Gerne besprechen wir mit Ihnen die Anforderungen und erstellen eine individuelle Offerte.
                
            .layout__item.lap-and-up-one-half
                img.project-detail__image(src="apix-drohne.jpg", alt="Multikopter")
                  
            .layout__item.lap-and-up-one-half
                img.project-detail__image(src="apix-team.jpg", alt="Pilot und Copilot mit Mulitkopter")
