extends ../_projekt

block projectContent

    .wrapper
        .layout
            .layout__item.lap-and-up-one-third
            .layout__item.lap-and-up-two-thirds
                h2.project-detail__title.project-detail__title--first Einführung

                p.project-detail__paragraph.project-detail__paragraph--first
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est magna, ornare at blandit vel, ultrices nec sapien. Fusce at ex non justo volutpat dapibus. Vivamus venenatis ultrices varius. Sed posuere convallis efficitur. Mauris convallis faucibus ornare. Curabitur nec sapien non nisi laoreet rutrum. Nunc ultrices massa et porttitor lacinia. Fusce egestas eros eu est euismod, vel rutrum libero sagittis. Integer varius nibh in sodales suscipit.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="apix-helicopter-and-marco.png", alt="Marco in seinem Heli")

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Blu-Ray
                p.project-detail__paragraph
                    | Phasellus quis metus justo. Sed hendrerit massa nec pellentesque elementum. Curabitur molestie orci velit, at pellentesque sapien iaculis porttitor. Curabitur id urna eu eros vehicula dignissim. Nam a bibendum ligula, quis cursus elit. Nullam quis commodo lectus. In egestas est non est vestibulum scelerisque.

            .layout__item.lap-and-up-one-third
                h2.project-detail__title Helikopter
                p.project-detail__paragraph
                    | Pellentesque rhoncus dapibus sapien eget fringilla. Curabitur vulputate dictum elit et consequat. Pellentesque consequat suscipit faucibus. Nunc congue libero nec lacus posuere pellentesque. Ut ex tellus, feugiat ac magna ac, pellentesque placerat urna. Sed nulla urna, iaculis eu justo non, mollis iaculis urna.

            .layout__item.lap-and-up-two-thirds
                img.project-detail__image(src="apix-helicopter.png", alt="Helikopter auf dem Berg")
