/**
 * Headings 1–6.
 */
@include headings() {
    @include font-weight(light);
    text-transform: lowercase;
}

h1 {
    margin: 0.67em 0;
}
h2 {
    margin: 0.83em 0;
}
h3 {
    margin: 1em 0;
}
h4 {
    margin: 1.33em 0;
}
h5 {
    margin: 1.67em 0;
}
h6 {
    margin: 2.33em 0;
}
