.project-detail--main-image-parallax-container {
    @include ratio(16 7);
    position: relative;
    overflow: hidden;
    margin-bottom: -74px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 74px;
        background-color: white;
        right: 0;
        left: 33%;
        z-index: -1;
    }
}
.project-detail--main-image-wrapper {
    @include ratio(16 10);
    position: absolute;
    top: 0;
    width: 100%;

    transform: translate3d(0,0,0);
    z-index: -1;
}
.project-detail--main-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
}

.project-detail__title--first {
    margin: 0;
    padding: 0.83em 0;
    // transform: translateY(-100%);
    // margin-top: -74px;
}
